.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
    overflow: hidden;
    background: url(./images/pexels-min-an-1353938.jpg) no-repeat center top;
    background-size: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}